
h1{
    text-transform: "uppercase";
    color: antiquewhite;
    background-color: rgb(77, 6, 6);
    font-size: 60px;
    text-align: center;
    
}
.parent{
    width:100%;}

img{
    width:500px;
    height:auto
}
.son{
    width:50% ;
    float:left;
}
.daughter{
    width: 50%;
    float:right;
}

/*mobile devices*/
@media (min-width:320px) and (max-width:480px){
    .parent{
        display: block;
    }
    h1{
        color: red;
        width: 100%;
        background-color: black;
        text-align: center;
    }
    .daughter{
        width:100%;
    }
    .son{
        width: 100%;
    }
    .daughter img{
        width:100%;
        height: auto;
    }
}
/*tablet devices*/
@media (min-width:481px) and (max-width:768px){
    .parent{
        display: block;
    }
    h1{
        color: rgb(169, 52, 130);
        width: 100%;
        background-color: black;
        text-align: center;
    }
    .daughter{
        width:100%;
    }
    .son{
        width: 100%;
    }
    .daughter img{
        width:100%;
        height: auto;
    }
}
/*laptop devices*/
@media (min-width:769px) and (max-width:1024px){
    .parent{
        display: block;
    }
    h1{
        color: rgb(119, 87, 213);
        width: 100%;
        background-color: black;
        text-align: center;
    }
    .daughter{
        width:100%;
    }
    .son{
        width: 100%;
    }
    .son p{
        width:100%;
        font-size: 20px;
    }
    .daughter img{
        width:100%;
        height: auto;
    }
}