*{
    font-size: 50px;
}
h1{
    background-color: bisque;
    color: blue;
    font-size : 60px;
    font-family:'Delicious Handrawn', cursive;;
}
.p1{
    background-color: aqua;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}   
.p2{
    background-color: rgb(66, 66, 193);
    color: rgb(229, 166, 166);
    font-size: 20px;
    font-style: oblique;
}
.p3{
    background-color: rgb(241, 11, 11);
    color: rgb(205, 143, 234);

    font-style: oblique;
}
.p3:hover{
    background-color: blue;
    color: bisque;
}
img{
    width: 250px;
    height: 250px;
}
img[alt]{
    color: blueviolet;
}